@media screen and (max-width: 768px) {
body{
  background-color: rgb(21,18,18);
  display:flex;
  align-items: center;
  justify-content: center;
}
.container{
    padding:25px;
    background-color: rgb(47, 120, 124);
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin-top: 90px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}
#user,
#password{
    border: 1px solid rgba(0, 0, 0, 0.815);
    height: 40px;
    width: 200px; 
    border-radius: 10px;
    border: none;
}
#login{
    height: 45px;
    width: 90px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 50px;
    background-color: rgb(85, 89, 92);
    color: white;
}
}